body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #121646 0%, #19b981 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1,h2 {
    color: #333;
}

.form-container {
    margin: 20px 0;
}

input {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #19b981;
}

a {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #19b981;
}

#GoTo
{
    display: none;
}

#message {
    margin-top: 10px;
    color: red;
}
