body
{
  background: rgb(46, 43, 43);
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Wyrównuje elementy w pionie (na tej samej wysokości) */
  }


h1
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin-left: 50px;
    background: linear-gradient(90deg, #3cad9e, #7810df);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
  
#zegar {
    font-size: 36px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin-left: 500px;
    background: linear-gradient(90deg, #7810df, #3cad9e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }


#Napis
{
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
  font-size: 25px;
  margin-left: 50px;
  background: linear-gradient(90deg, #3cad9e, #7810df);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}


#program
{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  
}

#program ul
{
  display: flex;
  list-style: none;
  margin: 20px;
  padding: 30px;
  
}
ul li{
  
  margin: 20px;
  
}

#program ul li button
{
  font-family:"Poetsen One", sans-serif;
  background: linear-gradient(90deg, #3cad9e, #7810df);
  border-radius:30px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  border: 2px solid #0da4ae;
}


#content
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-panel, .right-panel
{
  width: 30%;
}

.left-panel
{
  margin-left: 100px;
  
}

#note-title
{
  width: 200px;
  height: 30px;
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
  background-color: #88a9a4;
}

#note-content
{
  width: 500px;
  height: 500px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  resize: none;
  background-color: #88a9a4;
}

#add-note
{
  background-color: #88a9a4;
  margin-top: 10px;
  width: 60px;
  height: 20px;
}

.form
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

#input
{
  background-color: #10ae8c;
  padding: 10px;
  
}
#output
{
  background-color: #10ae8c;
  padding: 10px 10px 10px 0;
  margin-left: 10px;
}

#input, #output, textarea
{
  color: black ;
  font-size: 25px;
  height: 200px;
  width: 400px;
  resize: none;
}
#input, #output, textarea::placeholder
{
  color: black;
}